* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  color: #333;
}

h5 {
  color: rgb(146, 146, 146);
  font-size: 15px;
}

.loading {
  border: 4px solid rgb(214, 214, 214);
  border-right: 4px solid rgb(29, 161, 242);
  border-radius: 100%;
  padding: 5px;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 45%;
  margin-top: 5vh;
  animation: spin 0.6s linear infinite;
}
#profilePictureLoader {
  top: 1vw;
  left: 1vw;
}
#profileInfoLoader {
  left: 3.5vw;
  top: -5vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#navbarDiv {
  position: fixed;
  top: 0;
  height: 100%;
  width: 31.5%;
  display: flex;
  z-index: 2;
}
#rightSideInfo {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 31.5%;
  display: flex;
  z-index: 1;
}
#rightSideDiv {
  position: absolute;
  left: 0;
  height: 100%;
  width: 350px;
  max-width: 80%;
  margin: 0 30px;
  padding: 0;
}
#whoToFollow {
  width: 100%;
  min-height: 15rem;
  background-color: rgb(247, 249, 250);
  border-radius: 16px;
  margin-top: 47px;
}
#whoToFollow #top {
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px solid rgb(235, 238, 240);
}
#whoToFollow #list {
  border-bottom: 1px solid rgb(235, 238, 240);
  padding: 10px 0px 25px 0;
}

.navbar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 250px;
  max-width: 80%;
  margin: 0 30px;
  padding: 0;
}

.navbar h1 {
  color: rgb(29, 161, 242);
}
.twitterIcon {
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  margin: 0 0 10px 15px;
}
.twitterIcon:hover {
  background-color: rgb(234, 235, 255);
}
.navIcon {
  min-width: 32px;
  font-size: 27.5px;
  margin: 0 15px 0 0;
}
.navbar svg path {
  color: rgb(29, 161, 242);
}
.newLinks {
  margin-bottom: 6vh;
}
.newLinks p {
  font-weight: 700;
  font-size: 19px;
  color: rgb(29, 161, 242);
}
.newLinks a {
  display: flex;
  float: left;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 9999px;
  padding: 10px 25px 10px 15px;
  width: fit-content;
}
.newLinks a:hover {
  border: none;
  background-color: rgb(234, 235, 255);
}
.newLinks a:hover p {
  color: rgb(29, 161, 242);
}

.content {
  width: 37%;
  margin: auto;
  padding: 0px;
}

.leftSide {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 100%;
}
.leftSide img {
  width: 100%;
  height: 100%;
}
.rightSide {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 100%;
}
.signup {
  margin: auto;
  margin-top: 25vh;
  width: 70%;
  padding: 10px 16px;
  font-size: 40px;
  overflow: auto;
  position: relative;
  z-index: 1;
}
.signupDiv {
  font-size: initial;
  position: relative;
  z-index: 2;
}

.signup .loginButton {
  border: 1px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  background-color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 900;
}

.login .signupButton:hover,
.signup .loginButton:hover {
  background-color: rgb(234, 235, 255);
}
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.editProfileDiv .modal button,
.tweetear button,
.login button,
.signup button {
  background-color: rgb(29, 161, 242);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 25px;
  font-weight: 900;
}

.editProfileDiv .modal button:hover,
.tweetear button:hover,
.login button:hover,
.signup button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.tweetear .cancelbtn,
.login .cancelbtn,
.signup .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.tweetear .cancelbtn,
.tweetear #tweetearButtonModal,
.login .cancelbtn,
.login #signupButtonModal,
.signup .cancelbtn,
.signup .signupbtn {
  float: left;
  width: 44%;
  margin: 10px 15px 0px 15px;
}

/* Add padding to container elements */
.tweetear .container,
.login .container,
.signup .container {
  padding: 16px;
}

.login .signupButton {
  width: 55%;
  background-color: white;
  color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 25px;
}
.login .signupDiv {
  display: flex;
  justify-content: center;
  margin-top: -10vh;
}

.login #linksContainer {
  width: 100%;
  text-align: center;
}
.login .links {
  margin: auto 15px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
  z-index: 10;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border-radius: 20px;
  padding: 10px;
  width: 33%;
  min-width: 400px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: rgb(29, 161, 242);
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.error {
  background-color: #f44336;
  color: white;
  border: 1px solid black;
  margin: 25px auto 0px auto;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 13px;
  font-size: 20px;
}

.success {
  background-color: rgb(29, 161, 242);
  color: white;
  border: 1px solid black;
  margin: 25px auto 0px auto;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 13px;
  font-size: 20px;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.tweet-list {
  position: relative;
  margin-bottom: 15vh;
}
.tweet-preview {
  position: relative;
  padding: 10px 16px;
  margin: 0;
  border: 1px solid #f2f2f2;
}
.tweet-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
#deleteTweet {
  color: rgb(255, 91, 91);
  opacity: 0.6;
}
#deleteTweet:hover {
  opacity: 1;
}
.tweet-preview h2 {
  font-size: 20px;
  color: rgb(29, 161, 242);
  margin-bottom: 8px;
}
.tweet-preview a {
  text-decoration: none;
}

.tweet-details h3 {
  font-size: 20px;
  color: rgb(29, 161, 242);
  margin-bottom: 10px;
}
.tweet-details h5 {
  font-weight: 400;
}
.goBackDiv {
  position: sticky;
  top: 0;
  background-color: white;
  border: 1px solid rgb(235, 238, 240);
  padding: 10px;
  z-index: 1;
}
.goBackButton {
  cursor: pointer;
  margin: 0 10px;
}
.tweet-details {
  position: relative;
  margin: 20px 0;
  border: 1px solid #f2f2f2;
}
.tweet-details #deleteTweet {
  top: 0;
  right: 2vw;
}
.tweet-details article {
  border-top: 1px solid #f2f2f2;
  padding: 15px;
}
.tweet-details .answerArticle p {
  margin: 0 0 0 15px;
  font-size: 18px;
}
.tweet-details .tweetBottom {
  border-top: 1px solid #f2f2f2;
  padding: 8px 0;
}
.tweet-details article p {
  margin: 0 0 15px 15px;
  font-size: 26px;
  font-weight: 500;
}
#commentDiv {
  text-align: initial;
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding: 5px;
  margin: 0 1vw;
  border-radius: 50%;
}
#commentDiv:hover {
  background-color: rgb(234, 235, 255);
  cursor: pointer;
}
.tweet-preview #commentDiv {
  width: 23px;
  height: 23px;
  margin: 1vh 0 0;
  font-size: 18px;
}
.commentIcon {
  margin: 3px;
  color: rgb(29, 161, 242);
}
.tweetUserInfoLink {
  display: flex;
  margin-bottom: 15px;
  text-decoration: none;
  width: fit-content;
}
.answerArticle #answerLink {
  margin-bottom: 0;
}
.tweetUserInfo {
  margin: auto 0;
}
.tweetUserInfo h5 {
  display: inline;
}
.tweetUserInfo h3 {
  display: inline;
}
#profilePicture {
  text-align: center;
  background-color: gray;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin: 0 15px;
}

#tweetModal .container {
  text-align: start;
}
.tweetReply #tweetBody {
  font-weight: 400;
  font-size: initial;
  margin-bottom: 10px;
}
.tweetReply h5 {
  margin-bottom: 2px;
  font-size: initial;
}
.line {
  margin: 0 0 0 18px;
  display: flex;
}
.line line {
  stroke: rgb(206, 206, 206);
  stroke-width: 3;
}
#link {
  text-decoration: none;
  font-weight: 400;
  color: rgb(29, 161, 242);
}

#tweetFromHome {
  position: relative;
  border: 1px solid #f2f2f2;
  max-width: 1000px;
  padding: 10px 16px;
}
.tweetear img,
.tweetReply img,
#tweetFromHome img {
  margin: 0;
  float: left;
}
#tweetTextarea {
  resize: none;
  border: none;
  overflow: hidden;
  height: auto;
  outline: none;
  width: 80%;
  height: auto;
  max-height: 175px;
  /* TODO: auto-expand */
  font-size: 20px;
}
#tweetFromHome #tweetTextarea {
  width: 86%;
}

#tweetFromHome h5 {
  font-weight: lighter;
}
#tweetFromHome button {
  width: 100px;
  border-radius: 100px;
  font-size: 16px;
}
#tweetFromHome #text-end {
  text-align: end;
}

.tweetear {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.tweetear label {
  text-align: left;
  display: block;
}
.tweetear h2 {
  font-size: 20px;
  color: rgb(29, 161, 242);
  margin-bottom: 30px;
}
.tweetear input,
.tweetear textarea,
.tweetear select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.tweetear button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.tweetear #tweetearButtonModal {
  padding: 14px 20px;
}

.tweetear #tweetFromDiv {
  margin-top: 20px;
  padding: 13px;
  font-size: 15px;
  width: 90%;
  background-color: rgb(29, 161, 242);
  color: white;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 9999px;
}

#tweetModal {
  position: relative;
}
#topTweetModal {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid rgb(234, 235, 255);
}
.closeTweetModal {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 10px 20px;
  padding: 0 10px 20px 10px;
  font-size: 35px;
  color: rgb(29, 161, 242);
}
.closeTweetModal:hover {
  background-color: rgb(234, 235, 255);
}

.topUser {
  border: 1px solid#f2f2f2;
  padding: 5px;
}
.topUser .info {
  width: 90%;
  margin: 0px auto 0px auto;
}
.topUser .goBackButton {
  float: left;
  margin: 15px;
}
.topUser h2 {
  font-size: 26px;
}
.userInfo {
  border: 1px solid #f2f2f2;
}
.userInfo .pictures {
  position: relative;
  min-height: 320px;
  height: 34vh;
}

.userInfo #headerPicture {
  width: 100%;
  max-height: 25vh;
  background-color: gray;
}
.userInfo #profilePicture {
  text-align: center;
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 15px;
  border: 5px solid white;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
}
.userInfo h3 {
  font-weight: lighter;
  margin-bottom: 10px;
}
.userInfo .follows {
  float: left;
  margin-right: 10px;
}
.userInfo .follows strong {
  font-weight: 700;
}

.userInfo .editProfile {
  background-color: white;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 15px;
  opacity: 0.9;
  font-size: 20px;
  color: rgb(29, 161, 242);
}
.userInfo .editProfile:hover {
  opacity: 1;
  background-color: rgb(234, 235, 255);
}
.userInfo .followBtn {
  background-color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 15px;
  opacity: 0.9;
  font-size: 20px;
  color: white;
}
.userInfo .followBtn:hover {
  opacity: 1;
  background-color: #f44336;
  border: 1px solid #f44336;
}
.userInfo .followBtn:hover span {
  display: none;
}
.userInfo .followBtn span {
  color: white;
}
.userInfo .followBtn:hover::before {
  content: "Unfollow";
}
.userInfo .logOut {
  background-color: #f44336;
  border: 1px solid red;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  padding: 5px 25px;
  opacity: 0.6;
  margin-right: 15px;
  cursor: pointer;
}
.userInfo .logOut:hover {
  opacity: 1;
}
.userInfo .buttons {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  display: flex;
}
.userInfo .info {
  position: relative;
  padding: 20px;
}

.editProfileDiv {
}
.editProfileDiv .modal {
  scrollbar-width: none;
}
.editProfileDiv .modal-content {
  margin: 0 auto;
  padding: 25px 25px 10px 25px;
}
.editProfileDiv h1 {
  text-align: center;
}
.editProfileDiv .modal-content {
  position: relative;
}
.editProfileDiv .close {
  color: rgb(29, 161, 242);
}

.changeProfilePicture {
  position: relative;
  height: 27.5vh;
}
.uploadPictureProfile_Picture {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 3px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 15px;
  background-color: gray;
}
.uploadPictureProfile_Picture .pictureProfile_Picture {
  width: 100px;
  cursor: pointer;
  height: 100px;
  border-radius: 50%;
}
.uploadPictureHeader_Picture .pictureHeader_Picture {
  width: 100%;
  height: 22.5vh;
  cursor: pointer;
}
.changeProfilePicture .iconHeader_Picture {
  font-size: 35px;
  opacity: 0.6;
  margin: 0px;
  width: 100%;
  height: 220px;
  cursor: pointer;
  border: 1px solid black;
}

.changeProfilePicture .iconProfile_Picture {
  font-size: 35px;
  opacity: 0.6;
  margin: 0px;
  padding: 32px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
}
.changeProfilePicture .icon:hover {
  opacity: 1;
}

.follow-list {
  position: relative;
  margin-bottom: 15vh;
}
.switch button {
  border: none;
  border-bottom: 2px solid rgb(234, 234, 234);
  font-weight: 600;
  font-size: 23px;
  width: 50%;
  padding: 10px;
  background-color: white;
  color: rgb(146, 146, 146);
  cursor: pointer;
}
.switch button:hover {
  background-color: rgb(234, 235, 255);
  color: rgb(29, 161, 242);
}
.switch .active {
  border-bottom: 2px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
}
.followMap {
  position: relative;
  padding: 10px 16px;
  margin: 0;
  border: 1px solid #f2f2f2;
}
.followMap:hover {
  background-color: rgb(243, 243, 243);
}
.followMap h3:hover {
  text-decoration: underline;
}

.notFound {
  text-align: center;
  padding-top: 100px;
}
.notFound h3 {
  font-size: 21px;
}
.notFound h5 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(91, 112, 131);
}
